<!doctype html>
<html lang="en">

<head>
    <title>IAPB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="keywords" content="html, css, javascript, jquery">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon-32x32.png" />

    <link rel="stylesheet" href="css/vendor/icomoon/style.css">
    <link rel="stylesheet" href="css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="css/vendor/animate.min.css">
    <link rel="stylesheet" href="css/vendor/aos.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/jquery.fancybox.min.css">


    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".site-nav-target" data-offset="200">
    <nav class="unslate_co--site-mobile-menu">
        <div class="close-wrap d-flex">
            <a href="#" class="d-flex ml-auto js-menu-toggle">
                <span class="close-label">Close</span>
                <div class="close-times">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                </div>
            </a>
        </div>
        <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">

        <div class="unslate_co--site-inner">

            <div class="lines-wrap">
                <div class="lines-inner">
                    <div class="lines"></div>
                </div>
            </div>
            <!-- END lines -->

            <nav class="unslate_co--site-nav site-nav-target">

                <div class="container">

                    <div class="row align-items-center justify-content-between text-left">
                        <div class="col-md-8 text-left">
                            <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                                <li class="has-children">
                                    <a href="#home-section" class="nav-link">Home</a>
                                </li>
                                <li><a href="#portfolio-section" class="nav-link">Saúde Mental</a></li>
                                <li><a href="#ebook">Download E-book</a></li>
                                <li><a href="#services-section" class="nav-link">Produtos e Serviços</a></li>
                                <li><a href="#training-section" class="nav-link">Treinamentos</a></li>
                                <li><a href="#contact-section" class="nav-link">Contatos e Dúvidas</a></li>
                                <li class="blog"><a onclick="openBlogNewTab()" class="nav-link">Blog</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4 text-right">
                            <div class="site-logo pos-absolute">
                                <a href="index.html" class="unslate_co--site-logo"><img src="images/logo-iapb.png"></a>
                            </div>

                            <div class="menu">
                                <a href="#" class="js-menu-toggle">

                                    <div class="barry">
                                        <span class="bar"></span>
                                        <span class="bar"></span>
                                        <span class="bar"></span>
                                    </div>
                                </a>
                                <div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </nav>
            <!-- END nav -->

            <div class="cover-v1 jarallax" style="background-image: url('images/cover_bg_2.jpg');" id="home-section">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-md-4 text-center"><img class="imagelogo" src="images/logo-vertical.png"></div>

                        <div class="col-md-7 text-left">

                            <h2 class="subheading">O <span style="color:#f17d39;font-weight:600;">IAPB</span> tem o
                                propósito de
                                promover amplamente a conscientização sobre a saúde mental e seus benefícios nas
                                organizações,
                                favorecendo o
                                amadurecimento de ambientes psicologicamente seguros e produtivos.</h2>
                        </div>



                    </div>
                </div>


            </div>

            <div class="unslate_co--section bgburnout" id="portfolio-section">
                <div class="container">


                    <div class="relative">
                        <div class="loader-portfolio-wrap">
                            <div class="loader-portfolio"></div>
                        </div>
                    </div>
                    <div id="portfolio-single-holder"></div>

                    <div class="portfolio-wrapper">

                        <div class="col-lg-4 pr-lg-5" style="min-height: 550px;"> <br><br>

                            <h3 class="mb-4 heading-h5">SAÚDE MENTAL</h3>

                            <p class="lead">Estado de bem-estar no qual o indivíduo é capaz de utilizar suas habilidades
                                para lidar
                                com as tensões normais da vida, mantendo relacionamentos saudáveis, podendo trabalhar de
                                forma produtiva
                                e sendo capaz de contribuir com
                                sua comunidade.</p> <br>

                        </div>

                    </div>


                </div>
            </div>




            <!-- END .counter -->



            <div class="unslate_co--section bgblack" id="testimonial-section">
                <div class="container">

                    <div class="owl-carousel testimonial-slider" data-aos="fade-up">

                        <div>

                            <div class="testimonial-v1">

                                <h3 class="mb-4 heading-h4">SÍNDROME DE BURNOUT</h3>
                                <blockquote>
                                    Conhecido como síndrome do esgotamento profissional, é um distúrbio emocional com
                                    sintomas de exaustão
                                    extrema e de esgotamento físico resultante de situações de trabalho desgastante.
                                    Esta condição é
                                    observada em profissionais que atuam diariamente em ambientes que demandam muita
                                    competitividade, com
                                    elevada pressão por maior produtividade, cumprimento de metas cada vez mais
                                    agressivas,
                                    responsabilidade constante e com relações conflitivas, sem permitir a liberdade de
                                    expressão.
                                </blockquote>

                            </div>
                        </div>

                        <div>
                            <div class="testimonial-v1">

                                <h3 class="mb-4 heading-h4">DEPRESSÃO</h3>
                                <blockquote>
                                    Patologia crônica e recorrente que produz uma alteração do humor caracterizada por
                                    uma tristeza
                                    profunda, associada a sentimentos de dor, amargura, desencanto, desesperança, baixa
                                    autoestima e
                                    culpa, assim como distúrbios do sono e do apetite.
                                </blockquote>

                            </div>
                        </div>

                        <div>
                            <div class="testimonial-v1">

                                <h3 class="mb-4 heading-h4">ANSIEDADE</h3>
                                <blockquote>
                                    É um transtorno caracterizado pela “preocupação excessiva ou expectativa
                                    apreensiva”, persistente e de
                                    difícil controle, que perdura um período relativamente longo, sempre acompanhado por
                                    no mínimo três
                                    dos seguintes
                                    sintomas: angústia, inquietação, fadiga, irritabilidade, batimentos cardíacos
                                    acelerados,
                                    dificuldade de concentração, tensão muscular e perturbação do sono.
                                </blockquote>

                            </div>
                        </div>


                        <div>
                            <div class="testimonial-v1">
                                <h3 class="mb-4 heading-h4">ESTRESSE</h3>
                                <blockquote>
                                    Uma reação do organismo que ocorre quando ele precisa lidar com situações que exijam
                                    um grande esforço
                                    emocional para serem superadas. Quanto mais a situação durar ou quanto mais grave
                                    ela for, mais
                                    estressada a pessoa pode ficar. O estresse provoca diversos sintomas, como: falta de
                                    atenção, dores de
                                    cabeça, dores musculares, fuga de relacionamentos, choro e culpa.
                                </blockquote>

                            </div>
                        </div>


                    </div>
                    <!-- END testimonial -->

                </div>
            </div>


            <div class="unslate_co--section bgblack" id="portfolio-section">
                <div class="container">

                    <div id="posts" class="row">
                        <div class="item web branding col-sm-6 col-md-3 col-lg-3">
                            <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item"
                                data-id="1">
                                <img src="images/work_1_md.jpg" class="lazyload  img-fluid" alt="Images" />
                            </a>
                        </div>
                        <div class="item branding packaging illustration col-sm-6 col-md-3 col-lg-3">
                            <a href="portfolio-single-3.html"
                                class="portfolio-item ajax-load-page item-portrait isotope-item" data-id="3">
                                <img src="images/work_2_md.jpg" class="lazyload  img-fluid" alt="Images" />
                            </a>
                        </div>

                        <div class="item branding packaging col-sm-6 col-md-3 col-lg-3">
                            <a href="portfolio-single-4.html" class="portfolio-item isotope-item ajax-load-page"
                                data-id="4">
                                <img src="images/work_3_md.jpg" class="lazyload  img-fluid" alt="Images" />
                            </a>
                        </div>

                        <div class="item web packaging col-sm-6 col-md-3 col-lg-3">

                            <a href="images/work_4_full.jpg" class="portfolio-item isotope-item" data-fancybox="gallery"
                                data-caption="Watch">
                                <img src="images/foto4.jpeg" class="lazyload  img-fluid" alt="Images" />
                            </a>

                        </div>



                    </div>
                </div>
            </div>




            <!-- DOWNLOAD EBOOK -->


            <div class="unslate_co--section margemebook" id="ebook"
                style="background-image: url('images/cover_bg_2.jpg');">
                <div class="container">

                    <div class="section-heading-wrap text-center mb-5">
                        <h3 class="mb-4 heading-h3">Quer saber mais sobre saúde mental?</h3>
                        <p>O IAPB disponibiliza diversos conteúdos e ferramentas sobre saúde mental. Nesse momento estamos disponibilizando
                             o e-book sobre Burnout que traz uma visão prática de experiência clínica, a relação com a inteligência emocional,
                              a neurociência e os tipos psicológicos, além dos conceitos e sintomas dessa síndrome que afeta mais de 33 milhões
                               de pessoas no Brasil se tornando a 3ª maior causa de afastamento no trabalho.</p>
                    </div>
                    <div class="box">
                        <a id="button" class="button" href="#popup1"><img src="images/download-ebook.png"><br>Baixe agora e saiba mais!</a>
                    </div>

                    <div id="popup1" class="overlay" aria-hidden="true">
                        <div class="popup">
                            <div class="col-md-12">
                                <h2>Por favor, preencha os campos obrigatórios (*).</h2><br>
                                <a class="close" href="/">&times;</a>
                                <form action="/ebookEmail" id="ebookEmail" onsubmit="return validateEbookForm();"
                                    class="form-outline-style-v1" method="post">
                                    <div class="form-group row mb-0">

                                        <div class="col-lg-12 form-group">
                                            <label for="name">Nome*</label>
                                            <input name="name" type="text" class="form-control" id="name">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="email">Email*</label>
                                            <input name="email" type="email" class="form-control" id="email">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="telefone">Telefone*</label>
                                            <input name="telefone" type="text" class="form-control" id="telefone">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="empresa">Empresa*</label>
                                            <input name="empresa" type="text" class="form-control" id="empresa">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="area">Área</label>
                                            <input name="area" type="text" class="form-control" id="area">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="cargo">Cargo</label>
                                            <input name="cargo" type="text" class="form-control" id="cargo">
                                        </div>
                                        <div class="col-lg-12 form-group margin-bottom">
                                            <input class="check-aceite" type="checkbox" id="aceite" name="aceite" onclick="enableSubmit()">
                                            <label class="label-aceite" for="aceite">Ao clicar o usuário concorda com a utilização dos dados enviados 
                                                para fins de comunicação e dados estatísticos, seguindo os termos da Lei no. 13.709/2018 
                                                (“LGPD – Lei Geral de Proteção de Dados”) e normas relacionadas.</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 text-center">
                                            <input type="submit" id="submitEbookForm" style="border-color:#fff;"
                                                class="btn btn-outline-pill btn-custom-light mr-3" value="Enviar" disabled>
                                            <span class="submitting"></span>
                                        </div>
                                    </div>
                                </form>

                                <div id="form-message-warning" class="mt-4"></div>
                                <div id="form-message-success">
                                    Sua mensagem foi enviada. Obrigada!
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- DOWNLOAD EBOOK -->



            <!--PRODUTOS E SERVIÇOS-->


            <div class="unslate_co--section" id="services-section">
                <div class="container">

                    <div class="section-heading-wrap text-center mb-5">
                        <h3 class="mb-4 heading-h3">Produtos e Serviços</h3>
                        <p>Apoiamos empresas, profissionais e indivíduos em suas diferentes necessidades voltadas ao tema Saúde
                            Mental. O
                            propósito do nosso trabalho é manter e restaurar a habilidade das pessoas em lidar com as
                            tensões do dia a
                            dia.
                            Nossos programas são personalizados de acordo com as necessidades dos clientes, aliando
                            saúde mental com o
                            desenvolvimento e crescimento sustentável dos negócios.
                        </p>
                    </div>

                    <div class="row gutter-v3">
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">

                                <h3>Melhoria</h3>
                                <p>dos Indicadores de Performance do Negócio e do Clima</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">

                                <h3>Redução do Absenteísmo</h3>
                                <p>Despesas com Afastamento e Custos Trabalhistas</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">

                                <h3>Redução de Indicadores</h3>
                                <p>de Acidentes e Incidentes</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">

                                <h3>Redução da Procrastinação</h3>
                                <p>Ineficácia e Ineficiência (Presenteísmo)</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">

                                <h3>Colaboradores</h3>
                                <p>mais Engajados e com mais Bem-Estar</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">

                                <h3>Ambientes Produtivos</h3>
                                <p>Harmônicos, Integrados e Colaborativos</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">

                                <h3>Gestão Eficaz</h3>
                                <p>do Trabalho Remoto</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">

                                <h3>Reorganização</h3>
                                <p>de Rotinas de Trabalho e Sugestão de Revisão de Processos</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">

                                <h3>Trilha de Treinamentos</h3>
                                <p>Personalizados para Colaboradores e Líderes</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 mb-3">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">

                                <h3>Treinamentos e Mentorias</h3>
                                <p>em Saúde Mental para Organizações</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- FIM PRODUTOS E SERVIÇOS -->
            <!--TREINAMENTOS -->


            <div class="unslate_co--section bgcinza" id="training-section">
                <div class="container">
                    <div class="section-heading-wrap text-center mb-5">
                        <h3 class="mb-4 heading-h3">Treinamentos</h3>
                        <p>O IAPB oferece uma série de treinamentos visando promover a saúde mental nas organizações,
                            restaurando a
                            habilidade das pessoas em lidar com as tensões do dia a dia, e criando um ambiente
                            harmônico, com maior
                            produtividade, integração e colaboração, garantindo assim melhor desempenho da sua empresa.
                            Conheça alguns
                            dos nossos treinamentos:
                        </p>
                    </div>

                    <div class="row gutter-v3">
                        <div class="col-md-12 col-lg-12 mb-12">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                                <p><img class="bulet" src="images/bulet.png"><b class="bold">Estruturação de Programa de
                                        Saúde Mental
                                        nas Organizações:</b>
                                    hoje temos bastante informação sobre saúde mental e muitas empresas já vinham
                                    desenvolvendo projetos
                                    de bem-estar para os seus colaboradores, mas como estruturar um programa completo de
                                    saúde mental que
                                    traga os resultados de produtividade e performance do negócio que você espera? Como
                                    diagnosticar?
                                    Quais protocolos implementar e como prevenir? Quer saber mais? <a href="#contact-section">Entre em contato
                                        conosco!</a></p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 mb-12">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                                <p><img class="bulet" src="images/bulet.png"><b class="bold">Inteligência Emocional para
                                        líderes:</b> a
                                    Inteligência
                                    Emocional se mostra cada vez mais relevante nesse cenário de mudanças principalmente
                                    para os líderes.
                                    Você conhece as soft skills que se busca numa liderança produtiva? Sabe como
                                    desenvolvê-las? Quer saber mais? <a href="#contact-section">Entre em contato
                                        conosco!</a></p>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 mb-12">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                                <p><img class="bulet" src="images/bulet.png"><b class="bold">Gerenciamento de trabalho
                                        remoto:</b> o
                                    trabalho remoto é
                                    apontado pelas consultorias como uma forte tendência do mercado, ou seja, veio pra
                                    ficar. Mas como
                                    fazer gestão do trabalho remoto promovendo a produtividade e a saúde mental do seu
                                    colaborador num
                                    ambiente muitas vezes conturbado, em que ele divide com o(a) companheiro(a), filhos
                                    e o cachorro?
                                    Quer saber mais? <a href="#contact-section">Entre em contato
                                        conosco!</a></p>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 mb-12">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                                <p><img class="bulet" src="images/bulet.png"><b class="bold">Desenvolvimento da
                                        Resiliência:</b> a
                                    resiliência nos permite
                                    aprender a suportar melhor a pressão, encontrar uma solução para as situações
                                    vividas e depois voltar
                                    ao nosso estado normal tendo assimilado as lições aprendidas. É uma habilidade
                                    indispensável que nos
                                    ajuda a lidar com a Ansiedade, com o Estresse e com a Síndrome de Burnout. Mas como
                                    desenvolver essa
                                    habilidade nos seus colaboradores? Quer saber mais? <a href="#contact-section">Entre em contato
                                        conosco!</a></p>
                                </p>
                            </div>
                        </div>




                    </div>
                </div>
            </div>

            <div class="unslate_co--section bglaranja" id="contact-section">
                <div class="container">
                    <div class="section-heading-wrap text-center mb-5">
                        <h2 class="heading-h2 text-center divider">CONTATOS E DÚVIDAS</h2>
                    </div>


                    <div class="row justify-content-between">

                        <div class="col-md-12">
                            <form action="/contactsEmail" onsubmit="return validateContactForm();"
                                class="form-outline-style-v1" id="contactForm" method="post">
                                <div class="form-group row mb-0">

                                    <div class="col-lg-4 form-group">
                                        <label for="name">Nome</label>
                                        <input name="name" type="text" class="form-control" id="name">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label for="email">Email</label>
                                        <input name="email" type="email" class="form-control" id="email">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <div class="select">
                                            <select name="assunto" id="standard-select">
                                                <option value="">Assunto</option>
                                                <option value="treinamento">Treinamento</option>
                                                <option value="mentoria">Mentoria</option>
                                                <option value="consultoria">Consultoria</option>
                                                <option value="proposta">Proposta</option>
                                                <option value="outros">Outros</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <label for="mensagem">Mensagem...</label>
                                        <textarea name="mensagem" id="mensagem" cols="30" rows="7"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" style="border-color:#fff;"
                                            class="btn btn-outline-pill btn-custom-light mr-3" value="Enviar Mensagem">
                                        <span class="submitting"></span>
                                    </div>
                                </div>
                            </form>
                            <div id="form-message-warning" class="mt-4"></div>
                            <div id="form-message-success">
                                Sua mensagem foi enviada. Obrigada!
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- END .unslate_co-site-inner -->


        <footer class="unslate_co--footer unslate_co--section bgblack">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7">

                        <div class="footer-site-logo"><img src="images/logo-iapb-cor.png"></a></div>

                        <p style="margin:-20px 0 20px 0;"><a>saudemental@iapb.center</a></p>

                        <ul class="social-menu">
                            <li><a onclick="openInstagranNewTab()"><i class="fab fa-instagram"></i></a></li>
                            <li><a onclick="openFacebookNewTab()"><i class="fab fa-facebook"></i></a></li>
                            <li><a onclick="openLinkedInNewTab()"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
        <div class="site-loader"></div>
    </div>

    <script src="scripts/js/scripts-dist.js"></script>
    <script src="scripts/js/main.js"></script>
    <script type="text/javascript">
        var message = '<%= message %>';
        if (message != '') {
            alert(message);
        }

        var messageEbook = '<%= messageEbook %>';
        if (messageEbook != '') {
            alert(messageEbook);
            window.open('files/ebook.pdf');
        }

        var validateEbookForm = function () {
            let text = ''
            let passed = true
            if (!document.forms["ebookEmail"]["name"].value) {
                text += "Campo nome é obrigatório.\n"
                passed = false
            }
            if (!document.forms["ebookEmail"]["email"].value) {
                text += "Campo e-mail é obrigatório.\n"
                passed = false
            }
            if (!document.forms["ebookEmail"]["empresa"].value) {
                text += "Campo empresa é obrigatório.\n"
                passed = false
            }
            if (!document.forms["ebookEmail"]["telefone"].value) {
                text += "Campo telefone é obrigatório.\n"
                passed = false
            }
            if (!passed) {
                alert(text);
                return false
            } else {
                loading();
                return true
            }
        }
        var validateContactForm = function () {
            let text = ''
            let passed = true
            if (!document.forms["contactForm"]["name"].value) {
                text += "Campo nome é obrigatório.\n"
                passed = false
            }
            if (!document.forms["contactForm"]["email"].value) {
                text += "Campo e-mail é obrigatório."
                passed = false
            }
            if (!passed) {
                alert(text);
                return false
            } else {
                loading();
                return true
            }
        }

        var loading = function () {
            $('body').addClass('waiting');
            TweenMax.to('.site-loader-wrap', 1, { marginTop: 50, autoAlpha: 0, ease: Power4.easeInOut });
            document.getElementById("submitEbookForm").disabled = true;
            // document.getElementById("ebookEmail").submit();
        };

        var openInstagranNewTab = function () {
            window.open("https://www.instagram.com/iapbsaudemental/")
        }

        var openFacebookNewTab = function () {
            window.open("https://www.facebook.com/IAPB-Sa%C3%BAde-Mental-104680691750553")
        }

        var openLinkedInNewTab = function () {
            window.open("https://www.linkedin.com/company/iapbsaudemental")
        }

        var openBlogNewTab = function () {
            window.open("https://www.blog.iapb.center/")
        }

        document.getElementById("button").addEventListener("click", function() {
            document.body.classList.add("overflow-hidden");
            window.scrollTo(0,200);
        });

        enableSubmit = function(){
            if(document.getElementById("submitEbookForm").disabled == true){
                document.getElementById("submitEbookForm").disabled = false
            }else{
                document.getElementById("submitEbookForm").disabled = true
            }
        }
    </script>
</body>

</html>